In [2]:
import pandas as pd
import string

In [18]:
df = pd.DataFrame({"cs": list(string.ascii_lowercase), "ns": range(len(string.ascii_lowercase))})
df.head()

  cs  ns
0  a   0
1  b   1
2  c   2
3  d   3
4  e   4

In [8]:
df[df["ns"] == 2]

  cs  ns
2  c   2

In [10]:
df[df["ns"].map(lambda x : x % 5 == 0)]

   cs  ns
0   a   0
5   f   5
10  k  10
15  p  15
20  u  20
25  z  25

In [11]:
df[df["ns"].isin([0,5,10,15,20,25])]

   cs  ns
0   a   0
5   f   5
10  k  10
15  p  15
20  u  20
25  z  25

In [16]:
df.isnull().any(axis=1)[:2]

0    False
1    False
dtype: bool

In [20]:
df.isnull().any(axis=0)

cs    False
ns    False
dtype: bool